@import url("https://fonts.googleapis.com/css2?family=Roboto&Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  transition: all 1s ease-in-out;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

hr {
  width: 10rem;
}

.span {
  color: #5FF3D1;
}

.body__container {
  color: #CCD6F6;
  background: #0A192F;
}

.nav {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1;
}
.nav__colored {
  background-color: #060e1a;
}
.nav__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 2rem 0;
}
.nav__logo {
  padding-left: 5rem;
  font-family: "Shadows Into Light", cursive;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .nav__logo {
    padding-left: 2rem;
  }
}
.nav__logo--switch {
  padding-left: 1rem;
  padding-top: 0.5rem;
  cursor: pointer;
}
.nav .ul {
  list-style-type: none;
  display: flex;
}
@media screen and (max-width: 600px) {
  .nav .ul {
    display: block;
    background: #0A192F;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    top: 5rem;
    text-align: center;
    transform: translateX(1000px);
  }
  .nav .ul__active {
    transform: translateX(0);
  }
}
.nav .ul .li {
  padding: 0 1rem;
}
@media screen and (max-width: 600px) {
  .nav .ul .li {
    padding: 3rem 0;
  }
}
.nav .ul .li a {
  color: #CCD6F6;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .nav .ul .li a {
    color: #CCD6F6;
    font-size: larger;
  }
}
.nav .ul .li a:hover {
  text-decoration: underline;
}
.nav .ul .li .link__colored {
  color: #CCD6F6;
}

@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger__first-line {
  width: 40px;
  height: 3px;
  background: #CCD6F6;
  margin-bottom: 0.2rem;
}
.hamburger__second-line {
  background: #CCD6F6;
  width: 35px;
  height: 3px;
}
.hamburger__third-line {
  margin-top: 0.2rem;
  background: #CCD6F6;
  width: 30px;
  height: 3px;
}

.ham__colored {
  background: #CCD6F6;
}

.fl-active {
  transform: rotate(100deg);
}

.sl-active {
  display: none;
}

.tl-active {
  transform: rotate(-145deg);
}

#light-md {
  display: none;
}

.sm {
  display: none;
  position: fixed;
  bottom: 0;
  left: 1rem;
}
@media screen and (min-width: 450px) {
  .sm {
    display: block;
  }
}
.sm__div {
  padding-bottom: 2rem;
}
.sm__div a {
  cursor: pointer;
  text-decoration: none;
}
.sm__dev {
  color: #CCD6F6;
  text-transform: capitalize;
  font-size: 14px;
}
.sm__vl {
  border-left: 3px solid #CCD6F6;
  height: 100px;
  bottom: 0;
}

.projects {
  position: relative;
  top: 20rem;
  width: 70%;
  margin: 0 auto;
}
.projects__topic {
  padding-bottom: 4rem;
  padding-top: 1rem;
  font-weight: lighter;
  font-size: 3em;
}
.projects__img {
  width: 100%;
  height: 348px;
  object-fit: cover;
}
@media screen and (min-width: 900px) {
  .projects__description {
    width: 40%;
    position: relative;
    top: 5rem;
  }
}
.projects__description--content {
  background: #060e1a;
  padding: 1rem 0.5rem;
  line-height: 2;
}
@media screen and (min-width: 900px) {
  .projects__description--content {
    position: relative;
    right: 2rem;
  }
}
.projects__name {
  padding: 1rem 0;
  font-size: 1.5em;
  font-weight: lighter;
}
@media screen and (min-width: 900px) {
  .projects__name {
    position: relative;
    left: 2rem;
  }
}
.projects__icons {
  margin-top: 1rem;
  background: #060e1a;
  border: 1px solid #060e1a;
}
.projects__icon {
  padding: 0 0.5rem;
}
.projects__tools {
  padding-top: 1rem;
}
.projects__tools--list {
  display: grid;
  list-style-type: square;
  position: relative;
  left: 2rem;
}
@media screen and (min-width: 450px) {
  .projects__tools--list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.projects__card {
  padding-bottom: 3rem;
}
@media screen and (min-width: 900px) {
  .projects__grid {
    display: flex;
  }
}
.projects__img--div {
  padding: 2rem 0;
}
@media screen and (min-width: 900px) {
  .projects__img--div {
    width: 60%;
  }
}

.about {
  position: relative;
  top: 10rem;
  width: 70%;
  margin: 0 auto;
}
.about__h1 {
  padding: 1rem 0;
  font-size: 1.5em;
  font-weight: lighter;
}
.about__alert {
  padding-top: 4rem;
  font-weight: lighter;
  font-size: 3em;
}
.about__desc {
  font-weight: lighter;
  font-size: 2em;
  padding-bottom: 4rem;
}
.about__content {
  line-height: 2;
  font-size: 18px;
}
.about__cta {
  font-size: 18px;
}
.about__btn {
  background: #5FF3D1;
  color: #000;
  padding: 0.5rem 1rem;
  font-size: 18px;
  text-decoration: none;
}
.about__btn:hover {
  border: 1px solid #5FF3D1;
  color: #CCD6F6;
  background: #010101;
}
.about__btn--div {
  padding-top: 1rem;
}
.about__technologies {
  padding: 2rem 0;
  display: grid;
  padding-left: 1rem;
}
@media screen and (min-width: 450px) {
  .about__technologies {
    grid-template-columns: repeat(4, 1fr);
  }
}
.about__stack {
  list-style-type: square;
}

.works {
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 35rem;
}
.works__grid {
  padding: 2rem 0;
}
@media screen and (min-width: 600px) {
  .works__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.works__div {
  background-color: #132f59;
  padding: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.works__div--blog {
  background: linear-gradient(90deg, #0a192f 0%, #5ff3d1 100%);
}
.works__div--portfolio {
  background: linear-gradient(90deg, #5ff3d1 0%, #0a192f 100%);
}
.works__div a {
  color: #CCD6F6;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
}
.works__div a:hover {
  color: #CCD6F6;
  text-decoration: underline;
}
.works__title {
  padding: 1rem 0;
  font-size: 1.5em;
  font-weight: lighter;
}
.works__archs {
  color: #5FF3D1;
  font-size: 1em;
}
.works__archs:hover {
  color: #CCD6F6;
}

.footer {
  position: relative;
  top: 50rem;
  margin: 0 auto;
  width: 70%;
}
.footer__div {
  padding-bottom: 2rem;
}
.footer__title {
  padding-top: 2rem;
  font-weight: lighter;
  font-size: 3em;
}
.footer__note {
  padding: 1rem 0;
  font-size: 1.5em;
  font-weight: lighter;
}
.footer__mail-link {
  color: #5FF3D1;
}
.footer__copyright {
  padding: 1rem 0;
  font-size: 14px;
}

.error-page {
  width: 50%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  height: 100vw;
  display: flex;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .error-page {
    height: 50vw;
  }
}

.alert__h1 {
  font-size: 3em;
}
.alert__note {
  padding: 4rem 0;
  font-size: 1.5em;
}
.alert__btn {
  background-color: #5FF3D1;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0.5rem 1rem;
}
.alert__btn:hover {
  background: none;
  color: #CCD6F6;
  text-decoration: underline;
  text-decoration-color: #5FF3D1;
}

/*# sourceMappingURL=styles.css.map */
