<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Blossom</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/b527bec78a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>

<body>
  <div class="container container-fluid">

    <!-- header / hamburger -->
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <h1>I code. </h1>
        </div>
        <div>
          <ul class="menu-nav">
            <li class="nav-item"><a href="#about">About</a> </li>
            <li class="nav-item"><a href="#projects">Portfolio</a></li>
            <li class="nav-item"><a href="#message">Contact Me</a></li>
          </ul>
        </div>

      </nav>
    </header>

    <!-- // onload -->

    <div id="preloader" class="cssload-preloader">
      <span>B</span>
      <span>l</span>
      <span>o</span>
      <span>s</span>
      <span>s</span>
      <span>o</span>
      <span>m</span>

    </div>

    <!-- INTRODUCTION -->

    <section class="introduction">
      <div>
        <h1 class="intro--name">I'm Blosso<span class="span">m.</span></h1>
        <p class="intro--about">I build pages that gets hosted on the web.</p>
      </div>
    </section>

    <!-- projects -->

    <section id="projects" class="projects">
      <div>
        <hr>
        <h1>Featured Projects</h1>
        <div class="row">
          <!-- first row -->
          <div class="col-lg-4">
            <div class="card">
              <img src="static/images/insure.png">
              <h4>Insure</h4>
              <h6>HTML5 | CSS3</h6>
              <div class="flex">
                <div> <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-eye"></i>Project</a>
                </div>
                <div><a href="" class="btn btn-outline-danger btn-sm"><i class="fab fa-github"></i>Github</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img src="static/images/insure.png">
              <h4>Insure</h4>
              <h6>HTML5 | CSS3</h6>
              <div class="flex">
                <div> <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-eye"></i>Project</a>
                </div>
                <div><a href="" class="btn btn-outline-danger btn-sm"><i class="fab fa-github"></i>Github</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img src="static/images/insure.png">
              <h4>Insure</h4>
              <h6>HTML5 | CSS3</h6>
              <div class="flex">
                <div> <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-eye"></i>Project</a>
                </div>
                <div><a href="" class="btn btn-outline-danger btn-sm"><i class="fab fa-github"></i>Github</a>
                </div>
              </div>
            </div>
          </div>
          <!-- second row -->
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img src="static/images/insure.png">
              <h4>Insure</h4>
              <h6>HTML5 | CSS3</h6>
              <div class="flex">
                <div> <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-eye"></i>Project</a>
                </div>
                <div><a href="" class="btn btn-outline-danger btn-sm"><i class="fab fa-github"></i>Github</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img src="static/images/insure.png">
              <h4>Insure</h4>
              <h6>HTML5 | CSS3</h6>
              <div class="flex">
                <div> <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-eye"></i>Project</a>
                </div>
                <div><a href="" class="btn btn-outline-danger btn-sm"><i class="fab fa-github"></i>Github</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img src="static/images/insure.png">
              <h4>Insure</h4>
              <h6>HTML5 | CSS3</h6>
              <div class="flex">
                <div> <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-eye"></i>Project</a>
                </div>
                <div><a href="" class="btn btn-outline-danger btn-sm"><i class="fab fa-github"></i>Github</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="see-more btn btn-md btn-outline-danger" href="#"><i class="fas fa-arrow-right"></i>Click to see More</a>
    </section>

    <!-- about me-->

    <section id="about" class="about">
      <div>
        <hr style="width: 10rem; background: red;">
        <h1 class="about-h1">Hey there !</h1>
        <p>My name is Blossom. I'm a web developer. I have experience using frontend and backend technologies
          professionally.
          I particularly enjoy html, sass, javascript and everything involved in bringing the web page to life. I also do not
          mind writing its logic in node js or flask. When I am not coding, I am thinking about aliens and animals
          (particularly cats and dogs). Occasionally, I write about them too.
        </p>
        <button class="btn btn-lg btn-outline-danger">Hire Me</button>
      </div>
    </section>

    <!-- My socials -->
    <section id="socials" class="socials">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <a href=""><i class="i fab fa-twitter"></i> Twitter</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <a href="#"><i class="i fas fa-spinner"></i> Repl.it</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <a href="#"><i class="i fab fa-github"></i> Github</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <a href="#"><i class="i fab fa-github"></i>LinkedIn</a>
          </div>
        </div>
      </div>
    </section>

    <!-- message me-->
    <section id="message" class="message">
      <div>
        <hr>
        <h1>Contact M<span class="span">e.</span></h1>
        <div class="card">
          <form action="/" method="POST">
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <!-- <textarea name="" id="" cols="30" rows="5" name="message" placeholder="Leave a Message"></textarea> -->
          <button type="submit" class="btn btn-outline-danger btn-md">Send</button>
          </form>
        </div>

      </div>
    </section>

  </div>

  <script src="index.js" async defer></script>
</body>

</html>
<!-- 
<span>Photo by <a href="https://unsplash.com/@donovan_valdivia?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Andrew "Donovan" Valdivia</a> on <a href="https://unsplash.com/t/current-events?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> -->